mulesoft-portfolio-emiliano-benavides/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="mainFlow" doc:id="830cc03d-9dcf-40fc-bbb6-8e847f12c1a5" >
		<ee:transform doc:name="startVariables" doc:id="ada42aee-ea13-4198-86a0-49365a85649c" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="queryParamGender" ><![CDATA[attributes.queryParams.gender]]></ee:set-variable>
				<ee:set-variable variableName="accept" ><![CDATA[attributes.headers.accept]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="SWAPI Request" doc:id="0575b622-cf52-476f-a535-ada599a23251" config-ref="HTTP_Request_configuration" path="/api/people"/>
		<ee:transform doc:name="calculatePages" doc:id="19013361-a0e0-436d-8fd1-060211489bbb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
totalPages: (1 to ceil(payload.count/10)) as Array]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="forEachPage" doc:id="0981e1d6-7876-46ed-bb36-e34efdd93439" collection="payload.totalPages">
			<http:request method="GET" doc:name="Request" doc:id="c6bb0830-a2d3-4fd2-8dee-30cd4e45282e" config-ref="HTTP_Request_configuration" path='#["/api/people?page=" ++ (payload as String)]'/>
			<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;vars.characters default [] ++ payload.results]" doc:name="addResults" doc:id="d6c0a923-208c-45b6-b08d-e73e65dd4540" variableName="characters"/>
		</foreach>
		<choice doc:name="genreDecision" doc:id="96f69584-975f-46cb-a257-32981bbda286">
			<when expression="#[isEmpty(vars.queryParamGender)]">
				<ee:transform doc:name="noGenderParam" doc:id="452fa828-9c1b-4931-9c34-183269e31aef">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.characters map {
    "name": $.name,
    "height(cm)": $.height,
    "weight(kg)": $.mass,
    "hairColor": $.hair_color,
    "skinColor": $.skin_color,
    "eyesColor": $.eye_color,
    "birthYear": $.birth_year,
    "gender": $.gender
} ]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="withGenderParam" doc:id="cbf00267-79fe-46b2-9b7d-01a1fa0c04b2">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.characters map {
    "name": $.name,
    "height(cm)": $.height,
    "weight(kg)": $.mass,
    "hairColor": $.hair_color,
    "skinColor": $.skin_color,
    "eyesColor": $.eye_color,
    "birthYear": $.birth_year,
    "gender": $.gender
} filter $.gender == vars.queryParamGender as String ]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<choice doc:name="headerAccept" doc:id="b99f82b5-a121-4279-8b5b-d185ea45b73e">
			<when expression='#[vars.accept == "application/csv"]'>
				<ee:transform doc:name="JSONtoCSV" doc:id="91831394-0472-4715-9eed-4f0d5cfb5fef">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="JSON" doc:id="7b48d0b7-a8e5-4bd8-b7e1-935a9cf783d7">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="errorFlow" doc:id="a3e5c840-f7cf-4d21-b251-f9d374e033d5" >
		<ee:transform doc:name="errorHandler" doc:id="85727b68-a1e5-46b4-a3ef-9be298cf1f3b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "code": vars.httpStatus as String,
  "message": error.description,
  "detail": error.detailedDescription,
  "timestamp": now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
